<div class="container overflow-hidden">
  <div class="row gy-3">
    <div class="col-12">
      <h6 class="portal-info-title portal-text pb-4">گالری تصاویر</h6>
    </div>
    <div class="col-6">
      <img
        class="img-thumbnail"
        src="../../assets/image/gallery/download (1).jpeg"
        alt=""
      />
    </div>
    <div class="col-6">
      <img
        class="img-thumbnail"
        src="../../assets/image/gallery/download (2).jpeg"
        alt=""
      />
    </div>
    <div class="col-6">
      <img
        class="img-thumbnail"
        src="../../assets/image/gallery/download.jpeg"
        alt=""
      />
    </div>
    <div class="col-6">
      <img
        class="img-thumbnail"
        src="../../assets/image/gallery/images (1).jpeg"
        alt=""
      />
    </div>
    <div class="col-6">
      <img
        class="img-thumbnail"
        src="../../assets/image/gallery/images (2).jpeg"
        alt=""
      />
    </div>
    <div class="col-6">
      <img
        class="img-thumbnail"
        src="../../assets/image/gallery/images.jpeg"
        alt=""
      />
    </div>
  </div>
</div>
