<div class="container">
  <div class="row gy-3">
    <div class="col-12">
      <h6 class="portal-info-title portal-text pb-4">پورتال؟!</h6>
    </div>

    <div class="col-12 mt-5">
      <input
        #codeMeli
        class="input"
        type="text"
        name="code-meli"
        placeholder="نام"
      />
    </div>

    <div class="col-12">
      <input
        #pass
        class="input"
        type="text"
        name="password"
        placeholder="ایمیل"
      />
    </div>

    <div class="col-12">
      <input
        #pass
        class="input"
        type="text"
        name="password"
        placeholder="پیام خود را بگذارید"
      />
    </div>

    <div class="col-12">
      <button type="submit" class="btn btn-outline-light py-2 px-4">
        ارسال
      </button>
    </div>
  </div>
</div>
