<div class="container">
  <div class="row row-cols-1 gy-3">
    <div class="col">
      <input
        #codeMeli
        class="input"
        type="text"
        name="code-meli"
        placeholder="نام"
      />
    </div>

    <div class="col">
      <input
        #pass
        class="input"
        type="text"
        name="password"
        placeholder="ایمیل"
      />
    </div>

    <div class="col">
      <input
        #pass
        class="input"
        type="text"
        name="password"
        placeholder="پیام خود را بگذارید"
      />
    </div>

    <div class="col">
      <button type="submit" class="btn btn-outline-light py-2 px-4">
        ارسال
      </button>
    </div>
  </div>
</div>
