<div class="container">
  <div class="row">
    <div class="col-12">
      <h6 class="portal-info-title portal-text pb-4">پورتال؟!</h6>
    </div>
    <div class="col-12">
      <p class="start-text mt-4">
        ما در این پورتال برآن شدیم تا سرمایه گذار بتواند با یک دید نسبی از استان
        همدان و شناخت طرفیت ها شروع به سرمایه گذاری نماید.
      </p>
    </div>
    <div class="col-12">
      <button
        routerLink="/MapComponent"
        routerLinkActive="active"
        class="start-button"
      >
        همین حالا شروع کن
      </button>
    </div>
  </div>
</div>
