.img-fluid {
  width: 80%;
}
.col {
  margin-top: 60px;
  position: relative;
}
.hmd {
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  width: 188px;
  height: 130px;
  /* background-color: rgba(255, 255, 255, 0.5); */
  left: 265px;
  top: 245px;
}
