<div class="container text-white">
  <div class="row">
    <div class="col-12">
      <h6 class="portal-info-title portal-text pb-4">فرصت های سرمایه گذاری</h6>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-2"></div>
    <div class="col-8">
      <ul>
        <li>ساختار فعالیت های صنعتی و معدنی و تجاری</li>
        <li>ساختار فعالیت های صنعتی و معدنی و تجاری</li>
        <li>ساختار فعالیت های صنعتی و معدنی و تجاری</li>
        <li>ساختار فعالیت های صنعتی و معدنی و تجاری</li>
        <li>ساختار فعالیت های صنعتی و معدنی و تجاری</li>
      </ul>
    </div>
    <div class="col-2"></div>
  </div>
</div>
