<div class="container">
  <div class="row row-cols-1 gy-3">
    <div class="col">
      <input class="input" type="text" name="code-meli" placeholder="کد ملی" />
    </div>

    <div class="col">
      <input class="input" type="text" name="password" placeholder="رمز عبور" />
    </div>

    <div class="col">
      <button class="btn btn-outline-light py-2 px-4">ورود</button>
    </div>

    <div class="col">
      <a href="" class="forget-pass">رمز عبور خود را فراموش کرده‌اید؟</a>
    </div>
  </div>
</div>
