<div class="container">
  <div class="row align-content-center">
    <div class="col-12">
      <ul class="justify-content-center d-inline">
        <li>ساختار فعالیت های صنعتی و معدنی و تجاری</li>
        <li>ساختار فعالیت های صنعتی و معدنی و تجاری</li>
        <li>ساختار فعالیت های صنعتی و معدنی و تجاری</li>
        <li>ساختار فعالیت های صنعتی و معدنی و تجاری</li>
        <li>ساختار فعالیت های صنعتی و معدنی و تجاری</li>
        <li>ساختار فعالیت های صنعتی و معدنی و تجاری</li>
      </ul>
    </div>
  </div>
</div>
