<div class="container text-center mt-5">
  <div class="row gx-2">
    <div class="col-1">
      <div class="mode mb-2">
        <button class="btn btn-icon mt-3">
          <i class="bi bi-brightness-high icon-size"></i>
        </button>
      </div>
      <div class="portal-buttons align-self-start">
        <button class="btn btn-icon mt-3">
          <i class="bi bi-house-fill icon-size"></i> <br />خانه</button
        ><button class="btn btn-icon mt-3">
          <i class="bi bi-person-plus-fill icon-size"></i><br />ثبت نام</button
        ><button class="btn btn-icon mt-3">
          <i class="bi bi-camera-fill icon-size"></i><br />گالری تصاویر</button
        ><button class="btn btn-icon mt-3">
          <i class="bi bi-filter-square-fill icon-size"></i><br />فرصت ها</button
        ><button class="btn btn-icon mt-3">
          <i class="bi bi-pencil-fill icon-size"></i><br />پیشنهادات</button
        ><button class="btn btn-icon mt-3">
          <i class="bi bi-send-fill icon-size"></i><br />تماس با ما
        </button>
      </div>
    </div>
    <div class="col-5">
      <div class="ads align-self-center">
        <h6 class="portal-text">
          پورتال سرمایه گذاری صنایع و معادن استان همدان
        </h6>
        <img
          class="mx-auto d-block portal-img"
          src="../assets/image/download.png"
          alt="جمهوری اسلامی ایران وزارت صنعت معدن و تجارت"
        />
        <h6 class="buttom-text">
          اداره طرح و برنامه <br />
          سازمان صنعت و معدن تجارت استان همدان
        </h6>
      </div>
    </div>
    <div class="col-6">
      <div class="portal-info align-self-end">
        <h6 class="portal-info-title portal-text pb-4">
          لیست صنایع اشباع استان همدان
        </h6>
        <capitalism-investment-opportunities></capitalism-investment-opportunities>
        <!-- <capitalism-login></capitalism-login> -->
      </div>
    </div>
  </div>
</div>
