<div class="container">
  <div class="row">
    <div class="col">
      <table class="table">
        <tr>
          <th>ردیف</th>
          <th>رشته فعالیت</th>
          <th>ردیف</th>
          <th>رشته فعالیت</th>
        </tr>
        <tr>
          <td>1</td>
          <td>آرد</td>
          <td>16</td>
          <td>شمش فولادی با تکنولوژی کوره الفایی</td>
        </tr>
        <tr>
          <td>2</td>
          <td>تولید فرآورده های حجیم غلات</td>
          <td>17</td>
          <td>میلگرد فولادی</td>
        </tr>
      </table>
    </div>
  </div>
</div>
